.gradle
/.idea/*
.DS_Store
build
/captures
*.iml
local.properties
.scannerwork
credentials.json
google-services.json
keystore.file
test-credentials.properties
/judokit-android-examples/src/androidTest/assets/features/*