<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.judopay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".PaymentActivity"
            android:theme="@style/Theme.Judo.Light.EnterCardDetails" />

        <activity
            android:name=".RegisterCardActivity"
            android:theme="@style/Theme.Judo.Light.DarkActionBar" />

        <activity
            android:name=".PreAuthActivity"
            android:theme="@style/Theme.Judo.Light.ShowSecurityMessage" />

        <meta-data
            android:name="@string/judo_api_token"
            android:value="${apiToken}" />
        <meta-data
            android:name="@string/judo_api_secret"
            android:value="${apiSecret}" />

    </application>

</manifest>