<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.judopay.rest">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        tools:ignore="UnusedAttribute"/>

</manifest>
