<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.judokit.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".JudoActivity"
            android:theme="@style/JudoTheme"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <nav-graph android:value="@navigation/judo_payment_methods_graph" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>